<% if(isloggedIn){ %>
    <%-include('.. /partials/userHeader') %>
        <%} else { %>
            <%-include('.. /partials/normalHeader') %>
                <% } %>

                    <div class="header-bottom sticky-header">
                        <div class="container">
                            <div style="background-color: #333; display: flex; width: 100%;">
                                <div class="header-left">
                                    <div style="z-index:3" class="dropdown category-dropdown">
                                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false" data-display="static"
                                            title="Browse Categories">
                                            Browse Categories
                                        </a>

                                        <div style="z-index:3" class="dropdown-menu  ">
                                            <nav class="side-nav">
                                                <ul class="menu-vertical sf-arrows text">
                                                    <% if(category.length>0) { %>
                                                        <% for(let i=1;i<=category.length;i++){ %>
                                                            <a class="dropdown-item"
                                                                style="background-color: white;color: black;" ;
                                                                href="/sel-categories?id=<%=category[i-1].category %>">
                                                                <%=category[i-1].category %>
                                                            </a>
                                                 
                                                    <% }  %>

                                                    <% }  %>


                                                </ul><!-- End .menu-vertical -->
                                            </nav><!-- End .side-nav -->
                                        </div><!-- End .dropdown-menu -->
                                    </div><!-- End .category-dropdown -->
                                </div><!-- End .header-left -->




                            </div>
                        </div><!-- End .container -->
                    </div><!-- End .header-bottom -->
                    </header><!-- End .header -->

                    <main class="main">
                        <div class="intro-section pt-lg-2">
                            <div class="container">

                                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">


                                        <%for(let i=1;i<=banner.length;i++){%>

                                            <div class="carousel-item active">

                                                <img class="d-block w-100" style="width: 50vw; height: 90vh;"
                                                    src="/assets/uploads/<%= banner[i-1].bannerImage %>"
                                                    alt="First slide">

                                                <div class="carousel-caption d-none d-md-block">
                                                    <h1 style="color: darkred;">
                                                        <%= banner[i-1].bannerHead%>
                                                    </h1>
                                                    <br>
                                                    <h3 style="color:aliceblue">
                                                        <%= banner[i-1].bannerSub%>
                                                    </h3>


                                                </div>
                                            </div>
                                            <%}%>

                                    </div>

                                </div><!-- End .row -->

                            </div><!-- End .container -->


                        </div><!-- End .intro-section -->

                        <div class="bestseller-products bg-light pt-5 pb-5 mb-5">
                            <div class="block">
                                <div class="block-wrapper ">
                                    <div class="container">
                                        <div class="heading heading-flex">
                                            <div class="heading-left">
                                                <h2 class="title">Bestsellers</h2><!-- End .title -->
                                            </div><!-- End .heading-left -->

                                            <!-- <div class="heading-right">
                                    <a href="category.html" class="title-link">View more Products <i class="icon-long-arrow-right"></i></a>
                                </div>     -->

                                            <!-- End .heading-right -->
                                        </div><!-- End .header-flex -->

                                        <div class="owl-carousel carousel-equal-height owl-simple" data-toggle="owl"
                                            data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1440": {
                                            "items":5
                                        }
                                    }
                                }'>

                                            <%for(let i=1;i<=products.length;i++){%>

                                                <div class="product">


                                                    <figure class="product-media">
                                                        <a href="product.html">
                                                            <img src="/assets/uploads/<%=products[i-1].image%>"
                                                                style="width:15em ;height:17em ;" alt="Product image"
                                                                class="product-image">
                                                        </a>
                                                    </figure><!-- End .product-media -->

                                                    <div class="product-body">

                                                        <h3 class="product-title"><a
                                                                href="product.html"><%=products[i-1].name%></a></h3>
                                                        <!-- End .product-title -->

                                                        <h3 class="product-title"><a
                                                                href="product.html"><%=products[i-1].genre%></a></h3>


                                                        <div class="product-price">
                                                            <span class="new-price"><%=products[i-1].prize%></span>

                                                        </div><!-- End .product-price -->

                                                        <div class="product-footer">
                                                            <div class="ratings-container">


                                                            </div><!-- End .rating-container -->
                                                            <div class="product-action">
                                                                <a href="/add-cart?id=<%= products[i-1]._id%>"
                                                                    class="btn-product btn-cart"><span>Add to
                                                                        Cart</span></a>
                                                                <a href="/add-wish?id=<%= products[i-1]._id%>"
                                                                    class="btn-product btn-wishlist"><span>Add to
                                                                        Wishlist</span></a>
                                                            </div><!-- End .product-action -->
                                                        </div><!-- End .product-footer -->
                                                    </div><!-- End .product-body -->
                                                </div><!-- End .product -->
                                                <%}%>









                                        </div><!-- End .owl-carousel -->
                                    </div><!-- End .container -->
                                </div><!-- End .block-wrapper -->
                            </div><!-- End .block -->
                        </div><!-- End .bg-light pt-4 pb-4 -->

                        <div class="mb-5"></div><!-- End .mb-3 -->






                    </main><!-- End .main -->

                    <footer class="footer footer-2">
                        <div class="footer-middle">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-6 col-xl-5">
                                        <div class="widget widget-about">
                                            <img src="assets/images/demos/demo-25/redpillreads-low-resolution-color-logo.png"
                                                class="footer-logo" alt="Footer Logo" width="130" height="65">
                                            <p> Through redpillread you can explore through almost all best books in the
                                                literary World </p>

                                            <div class="widget-about-info">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-4">
                                                        <span class="widget-about-title">Got Question? Call us
                                                            24/7</span>
                                                        <a href="tel:123456789">+0123 456 789</a>
                                                    </div><!-- End .col-sm-6 -->
                                                    <div class="col-sm-6 col-md-8">
                                                        <span class="widget-about-title">Payment Method</span>
                                                        <figure class="footer-payments">
                                                            <img src="assets/images/payments.png" alt="Payment methods"
                                                                width="272" height="20">
                                                        </figure><!-- End .footer-payments -->
                                                    </div><!-- End .col-sm-6 -->
                                                </div><!-- End .row -->
                                            </div><!-- End .widget-about-info -->
                                        </div><!-- End .widget about-widget -->
                                    </div><!-- End .col-sm-12 col-lg-3 -->

                                    <div class="col-lg-6 col-xl-7">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="widget">
                                                    <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                                                    <ul class="widget-list">
                                                        <li><a href="about.html">About redpillread</a></li>
                                                        <li><a href="#">How to shop on redpillread</a></li>
                                                        <li><a href="faq.html">FAQ</a></li>
                                                        <li><a href="contact.html">Contact us</a></li>
                                                        <li><a href="login.html">Log in</a></li>
                                                    </ul><!-- End .widget-list -->
                                                </div><!-- End .widget -->
                                            </div><!-- End .col-sm-4 col-lg-3 -->

                                            <div class="col-sm-4">
                                                <div class="widget">
                                                    <h4 class="widget-title">Customer Service</h4>
                                                    <!-- End .widget-title -->

                                                    <ul class="widget-list">
                                                        <li><a href="#">Payment Methods</a></li>
                                                        <li><a href="#">Money-back guarantee!</a></li>
                                                        <li><a href="#">Returns</a></li>
                                                        <li><a href="#">Shipping</a></li>
                                                        <li><a href="#">Terms and conditions</a></li>
                                                        <li><a href="#">Privacy Policy</a></li>
                                                    </ul><!-- End .widget-list -->
                                                </div><!-- End .widget -->
                                            </div><!-- End .col-sm-4 col-lg-3 -->

                                        </div><!-- End .row -->
                                    </div><!-- End .col-lg-6 col-xl-7 -->
                                </div><!-- End .row -->
                            </div><!-- End .container -->
                        </div><!-- End .footer-middle -->

                        <div class="footer-bottom">
                            <div class="container">
                                <p class="footer-copyright">Copyright © Redpill Read Store. All Rights Reserved.</p>
                                <!-- End .footer-copyright -->
                                <ul class="footer-menu">
                                    <li><a href="#">Terms Of Use</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .footer-menu -->

                                <div class="social-icons social-icons-color">
                                    <span class="social-label">Social Media</span>
                                    <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon social-instagram" title="Instagram"
                                        target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon social-pinterest" title="Pinterest"
                                        target="_blank"><i class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .container -->
                        </div><!-- End .footer-bottom -->
                    </footer><!-- End .footer -->
                    </div><!-- End .page-wrapper -->
                    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

                    <!-- Mobile Menu -->
                    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

                    <div class="mobile-menu-container">
                        <div class="mobile-menu-wrapper">
                            <span class="mobile-menu-close"><i class="icon-close"></i></span>

                            <form action="#" method="get" class="mobile-search">
                                <label for="mobile-search" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                                    placeholder="Search in..." required>
                                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            </form>

                            <ul class="nav nav-pills-mobile" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab"
                                        href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab"
                                        aria-selected="true">Menu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab"
                                        role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
                                </li>
                            </ul>


                            <div class="social-icons">
                                <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                        class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                        class="icon-youtube"></i></a>
                            </div><!-- End .social-icons -->
                        </div><!-- End .mobile-menu-wrapper -->
                    </div><!-- End .mobile-menu-container -->

                    <!-- Sign in / Register Modal -->


                    <!-- Plugins JS File -->
                    <script src="assets/js/jquery.min.js"></script>
                    <script src="assets/js/bootstrap.bundle.min.js"></script>
                    <script src="assets/js/jquery.hoverIntent.min.js"></script>
                    <script src="assets/js/jquery.waypoints.min.js"></script>
                    <script src="assets/js/superfish.min.js"></script>
                    <script src="assets/js/owl.carousel.min.js"></script>
                    <script src="assets/js/jquery.magnific-popup.min.js"></script>
                    <!-- Main JS File -->
                    <script src="assets/js/main.js"></script>
                    <script src="assets/js/demos/demo-20.js"></script>
                    </body>


                    <!-- molla/index-20.html  22 Nov 2019 10:01:31 GMT -->

                    </html>